<%- include("header") -%>

<div class="">
    <img src="image/news.jpg" alt="news">
  <form class="" action="/compose" method="post">
    <input type="text" class= "lg" name="subject" placeholder="Subject">
    <input type="text" class= "lg" name="text" placeholder="Text" value="">
    <button type="submit" name="button">Send</button>

  </form>

</div>



<%- include("footer") -%>
