<%- include("header") -%>

<div class="">
  <img src="image/news.jpg" alt="news">
  <form class="" action="/" method="post">
    <input type="text" class= "lg"  name="name" placeholder="Name">
    <input type="text" class= "lg" name="email" placeholder="E-mail" >

      <label> <input type="checkbox" class= "checkbox" name="checkbox" value = "on" > Want to receive news? </label>
        <button type="submit" name="button">Register</button>



  </form>

</div>



<%- include("footer") -%>
